body {
	margin: 0;
}

#nav-bar {
	width: 100%;
	height: 100px;

	position: fixed;
	background-color: black;
	top: 0;
	float: left;
	z-index: 3;
}

#logo {
	float: left;
	margin-left: 30px;
}

#nav-links {
	float: right;
	margin-right: 30px;
}

.nav-text {
	color: purple;
	font-size: 20px;
	font-family: Verdana;
	display: inline;
	line-height: 100px;
	margin: 10px;
}

#top-menu {
	width: 950px;
	height: 40px;

	margin: 150px 0 0 275px;
	position: absolute;
	background-color: black;
}

.menu-text {
	color: white;
	font-size: 15px;
	font-family: Verdana;
	display: inline;
	line-height: 40px;
	padding: 0 20px;
	float: left;
	border-right: solid 1px;
}

#search {
	float: right;
	line-height: 40px;
	margin-right: 5px;
}

.search-eles {
	padding: 5px;
}

#side-menu {
	width: 180px;
	float: left;
	font-family: Verdana;
	font-size: 13px;
	margin: 120px 30px 0;
	background-color: #f2f2f2;
}

.side-menu-block {
	padding: 5px;
	margin: 0;
	color: gray;
}

.menu-tabs {
	margin: 3px 0 0 15px;
	color: black;
}

#container-header {
	font-size: 20px;
	font-family: Verdana;
	position: absolute;
	margin: 220px 0 0 275px;
}

.container {
	width: 1050px;
	height: 375px;
	position: absolute;
	top: 250px;
	left: 225px;
}

.arrow {
	width: 50px;
	height: 100px;

	border: 0px;
	background-color: black;
	margin: 150px -5px;
	cursor: pointer;
}

#left {
	float: left;
	background-image:
    linear-gradient(
      to right, 
      gray, white
    );
}

#left-arrow {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
  
	border-right: 20px solid black; 
	margin: auto;
	opacity: 0.75;
}

#right {
	float: right;
	background-image:
    linear-gradient(
      to left, 
      gray, white
    );
}

#right-arrow {
	width: 0; 
	height: 0; 
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent; 
  
	border-left: 20px solid black; 
	margin: auto;
	opacity: 0.75;
}

.slides {
	width: 90%;
	height: 90%;
	position: absolute;
	margin: 0 52.5px;
	box-shadow: 1px 1px 10px;

	opacity: 0;
	z-index: 1;
}

.showing {
	opacity: 1;
	z-index: 2;
}

.big-slide {
	height: 100%;

	position: absolute;
	float: left;
	box-shadow: 2px 2px 10px;
}



.thumbnails {
	width: 32%;
	height: 66%;

	margin-right: 7px;
	float: right;
}

.game-title {
	font-size: 25px;
	font-family: Verdana;
	margin: 2px;
}

.medium-slide {
	width: 142px;
	height: 73px;

	margin: 4px;
	float: right;
}

.status {
	width: 32%;
	height: 30.5%;
	position: absolute;
	right: 0;
	bottom: 0;
	float: right;
	font-family: Verdana;
}

#status2 {
	width: 32%;
	height: 30.5%;
	position: relative;
	right: 0;
	bottom: 0;
	float: right;
	font-family: Verdana;
	border: solid;
}

.availability {
	font-size: 20px;
	margin: 2px;
}

.price {
	float: left;
}

#slides {
	width: 250px;
	height: 20px;
	
	margin: 350px auto 0;2px
}

.nav-slide {
	width: 22.5%;
	height: 14px;

	background-color: gray;
	display: inline-block;
	opacity: .75;
	cursor: pointer;
}

#container-two {
	margin-top: 200px;
	float: left;
	left: -1px;
}

.cont-img {
	margin: 5px;
}

.cont-imgs {
	width: 27.5%;
	height: 161px;
	float: left;
	padding: 10px;
	margin-left: 13px;
}

#bottom-tabs-container {
	height: 50px;

	margin: 545px 53px;
}

.bottom-tabs {
	padding: 10px;
	font-size: 15px;
	font-family: Verdana;
	display: inline;
	margin-left: 1px;
	line-height: 50px;
	
	background-color: white;
	color: black;
	border-radius: 5px;
}

.bottom-tabs:hover {
	color: gray;
	cursor: pointer;
}

.tab-active {
	background-color: black;
	color: white;
}

#bottom-area {
	width: 99.1vw;
	height: 900px;
	background-color: black;
	position: absolute;
	margin: auto -225px;
	top: 950px;
}

#bottom-container {
	width: 950px;
	height: 500px;

	margin: auto;
}

#bottom-browser {
	width: 65%;
	float: left;
}

.left-tabs {
	width: 100%;
	height: 70px;

	margin-top: 10px;
	background-color: gray;
}

.left-tabs:hover {
	width: 636px;
	background-color: white;
	cursor: pointer;
}

.left-img {
	width: 200px;
	height: 70px;

	float: left;
}

.right-text {
	float: left;
	line-height: 40px;
	margin-left: 80px;
	font-family: Verdana;
}

.right-slides {
	width: 33%;
	background-color: white;
	float: right;
	margin-top: 10px;
}

.info {
	width: 280px;
	margin: 10px auto 25px;
	padding: 1px;
}

.title {
	font-size: 30px;
	font-family: Verdana;
	
}

.rating {
	background-color: gray;
	margin-top: 23px;
}

.categories {
	margin-top: 5px;
}

.category {
	background-color: gray;
	color: white;
	float: left;
	margin: 12px auto;
}

.right-slide-imgs {
	margin: 5px 0 0 15px;
}

#footer {
	height: 150px;
	margin-top: 885px;
}

#footer-container {
	width: 940px; 
	margin: auto;
	position: relative;
	top: 47%;
}

.footer-links {
	border-left: solid black 1px;
	font-family: Verdana;
	font-size: 15px;
	margin-left: 10px;
	padding-left: 10px;
	display: inline;
}

.footer-links:hover {
	color: gray;
	cursor: pointer;
}

.main {
	border-left: none;
	margin-left: 0;
	padding-left: 0;
}